<header>
    <div>
        <a href="/">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 283.63 112.05">
                <path d="M29.5 112.05h254v-22h-254c-5 0-6.92-3-6.92-8.89V37.38l-3.19.91L35.81 62H50.4l16.53-23.71-3.31-.91v43.78h22.57V0H69.66l-30.1 44.23h7.18L16.53 0H0v81.17c0 17.89 14.5 30.89 29.5 30.89Z" class="cls-1"/>
                <path d="M124.94 82.54c-5.47 0-10.32-1.07-14.54-3.19-4.22-2.13-7.54-5.09-9.98-8.89-2.43-3.8-3.65-8.13-3.65-13V25.08h22.34v32.6c0 1.14.25 2.17.74 3.08a5.21 5.21 0 0 0 2.05 2.11c.87.5 1.88.74 3.02.74 1.6 0 2.94-.55 4.05-1.65s1.65-2.53 1.65-4.27V25.08h22.34v32.38c0 4.94-1.2 9.29-3.59 13.05s-5.7 6.71-9.92 8.83c-4.22 2.13-9.06 3.19-14.53 3.19Z" class="cls-1"/>
                <path d="m178.52 81.17-22-56.09h23.71l12.88 47.77h-8.09l12.77-47.77h23.6l-22 56.09h-20.86Z" class="cls-1"/>
                <path d="M255.58 82.54c-6.54 0-12.27-1.24-17.21-3.71-4.94-2.47-8.8-5.93-11.57-10.37-2.78-4.45-4.16-9.56-4.16-15.33s1.35-10.75 4.05-15.16c2.7-4.41 6.4-7.88 11.12-10.43 4.71-2.55 10.03-3.82 15.96-3.82s11.02 1.2 15.5 3.59c4.48 2.39 8 5.72 10.54 9.98 2.55 4.26 3.82 9.12 3.82 14.59 0 1.14-.06 2.34-.17 3.59s-.36 2.72-.74 4.39l-50.62.34V46.52l42.29-.34-10.37 6.04c0-3.04-.36-5.53-1.08-7.47-.72-1.94-1.81-3.4-3.25-4.39-1.45-.99-3.27-1.48-5.47-1.48s-4.26.57-5.93 1.71c-1.67 1.14-2.95 2.78-3.82 4.9-.87 2.13-1.31 4.71-1.31 7.75s.47 5.72 1.42 7.81 2.34 3.67 4.16 4.73c1.82 1.07 4.1 1.6 6.84 1.6s5-.44 7.01-1.31c2.01-.87 3.86-2.26 5.53-4.16l11.17 11.06c-2.81 3.19-6.2 5.59-10.15 7.18-3.95 1.6-8.48 2.39-13.57 2.39Z" class="cls-1"/>
            </svg>        
        </a>
        
        <div class="container_menu">
            <div class="hamburger-menu" onclick="toggleMenu()">
                <img src="./images/iconen/burger.svg" alt="logo2">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/match">Match</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/matchProfiel">Profiel</a></li>
                </ul>
            </nav>
        </div>

        <div class="normaal_menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/match">Match</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="/matchProfiel">Profiel</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script defer src="./scripts/profielIdOphalen.js"></script>
</header>